html * {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  color: hsl(240, 100%, 5%);
}

h1 {
  font-size: 3.3rem;
  font-weight: 800;
  margin: 0;
}

body {
  background-color: hsl(36, 100%, 99%);
  margin: 5rem 10rem 0rem 10rem;
  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}


nav li {
  display: inline;
  list-style-type: none;
  color: hsl(236, 13%, 42%);
  padding-left: 2rem;
}

nav li:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}

.hero {
  display: flex;
  gap: 2.7%;
}

.span-3 {
  flex-basis: 70.6%;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  margin-top: 1.5rem;
  /* flex-basis: 50%; */
  gap: 10%
}

.hero-title {
  flex-basis: 40%;
}

.hero-description {
  position: relative;
  flex-basis: 50%;
}

.hero-description p {
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}

.hero-button {
  position: absolute;
  bottom: 0;
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  letter-spacing: .3rem;
  background-color: hsl(5, 85%, 63%);
  border: none;
  padding: .9rem 1.7rem;
}

.hero-button:hover {
  color: hsl(36, 100%, 99%);
  background-color: black;
  cursor: pointer;
}

.sidebar {
  background-color: hsl(240, 100%, 5%);
  padding: 1.5rem;
  color: hsl(233, 8%, 79%);
  font-weight: 400;
  flex-basis: 27%;
}

.sidebar h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

h2 {
  color: hsl(35, 77%, 62%);
  margin: 0 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
}

.sidebar h3 {
  color: hsl(36, 100%, 99%);
  font-size: 1.2rem;
  margin-bottom: .7rem;
}

hr {
  margin: 2rem 0 2rem 0;
  background-color: hsl(236, 13%, 42%);
  border: none;
  height: 1px;
}

.article-list {
  display: flex;
  flex-flow: row-wrap;
  margin-top: 4rem;
  gap: 2%;
}

.article-tiles {
  display: flex;
  height: 9rem;
  flex-basis: 32%;
}

.tile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.4rem;
}

.article-num {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
  font-weight: 700;
}

.article-details h3 {
  font-size: 1.1rem;
  font-weight: 800;
  margin: .7rem 0;
}

.article-details h3:hover {
  color:  hsl(5, 85%, 63%);
  cursor: pointer;
}

.article-details p {
  color: hsl(236, 13%, 42%);
  line-height: 1.5rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#mobile-nav-menu {
  display: none;
}

@media (max-width: 1440px) {
  body {
    margin: 5rem 5% 0rem 5%;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 5rem 2% 0rem 2%;
  }
}

@media (max-width: 885px) {
  body {
    margin: 2rem 1rem 0rem 1rem;
  }

  header {
    margin-bottom: 1.7rem;
  }

  /* MOBILE NAV START */

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: hsl(240, 100%, 5%, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.mobile-nav-toggle {
  margin-top: .7rem;
  cursor: pointer;
}

#mobile-nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
  z-index: 2;
  transition: width 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  display: block;
}

.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
}

#mobile-nav-menu ul {
  margin-top: 30%;
}

#mobile-nav-menu li {
  list-style-type: none;
  margin: 0 1rem 1.5rem 1.5rem;
  font-size: 17px;
}

#mobile-nav-menu li:hover {
  color: hsl(5, 85%, 63%);
}

/* MOBILE NAV END */

  .desktop-nav {
    display: none;
  }

  .span-3 {
    width: 100%;
  }

  .hero-img {
    display: none;
  }

  .mobile-img {
    width:  100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .hero {
    flex-direction: column;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-description {
    margin-top: 1.2rem;
  }

  .hero-button {
    position: relative;
    margin-top: 1.5rem;
  }

  .sidebar {
    margin-top: 3.5rem;
    padding: 1.3rem 1rem;
  }

  .sidebar h2 {
    margin: 0 0 1.7rem 0;
  }


  .sidebar p {
    margin-top: 1rem;
  }

  hr {
    margin: 1.8rem 0 1.8rem 0;
  }

  .article-list {
    flex-flow: column;
    margin-bottom: 3rem;
  }

  .article-tiles {
    margin-bottom: 1.4rem;
  }

  .article-num {
    margin-top: -.2rem
  }

  .article-image {
    max-height: 175px;
  }

  .tile-content {
    justify-content: flex-start;
  }

  .article-details {
    margin: 0.3rem 0;
  }

  .attribution {
    display: none;
  }
}

@media (min-width: 885px) {
  .mobile-nav-toggle {
    display: none;
  }

  .mobile-img {
    display: none;
    max-height: 200px;
  }

  #overlay {
    display: none;
  }
}
